* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
}
li {list-style: none;}
a {
    text-decoration: none;
    display: block;
    color: black;
}
.title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 4em;
}